/**
 * Utilities
 */

.u-position-relative {
    position: relative;
}

.u-overflow-hidden {
    overflow: hidden;
}

.u-mt0 {
    margin-top: 0 !important;
}

.u-mb0 {
    margin-bottom: 0 !important;
}

.u-text-space {
    >p,
    >h1,
    >h2,
    >h3,
    >h4 {
        margin-top: 1em;
    }
}